<!--CREACION DE LA BARRA DE NAVEGACION-->
<div class="container-fluid">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light shadow-sm main" style="background-color: #CFC6AB;">
      <!--CONTENADOR GENERAL-->
        <div class="container-fluid">
          <!--LOGO-->
          <a class="navbar-brand" href="">
            <img src="../assets/img/logo-menubar.svg" alt="" width="250" height="90">
          </a> <!--FIN LOGO-->
          
  
          <!--BOTON CONTENEDOR-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> <!--FIN BOTON CONTENEDOR-->
          
  
          <!--CONTENEDOR DE NAVEGACION-->
          <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <!--MENU DE NAVEGACION-->
            <div class="navbar-nav">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 textoElementos">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/ranking">Ranking</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/search">Search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="">Download</a>
                </li>
              </ul>  
            </div> <!--FIN MENU DE NAVEGACION-->
            
            <!--CONTENEDOR LOGIN-->
            <div class="navbar-nav ms-auto">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 textoElementos">
                <li class="nav-item">
                  <a class="nav-link active" href="/login">
                    <i class="fa-solid fa-user"></i>&nbsp;
                    Login
                  </a>
                </li>
              </ul>
            </div> <!--FIN LOGIN-->       
          </div> <!--FIN CONTENEDOR DE NAVEGACION-->
        </div> <!--FIN CONTENEDOR GENERAL-->
      </nav>
  
      <br>    
      <br>    
      <br>   
      <br>     
   
  </div>
  
  