<div class="container-lg">
    <!--CARROUSEL DE IMAGENES-->
    <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/img/LogoGrande.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img/Juego1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img/menu.jpeg" class="d-block w-100" alt="...">
          </div>
    
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    <!--FIN CARROUSEL-->
    
    <br>
  
    <div class="container-sm textInfo">
        <h3>About Drum Land</h3>
        <h1>History, Music, Drums!</h1>
        <p>
          Drumland a game created in Unity Game Engine, which is in charge of gathering all the resources to build a videogame.
        </p>
        <p>
          In a hybrid 16 bit/8 bit world, Drumland is an adventure/platform/retro/music game themed, 
          the game tells the story about DRUMLAND a magic altern universe where Jorge Luis (NinjaFrog) 
          will face the evil wizard, whose goal is to keep the percussion power of music  
        </p>
        <div class="container-sm">
          <img src="./assets/img/icono.svg" width="370" height="370">
        </div>
    </div>
  
    <br>
    <br>
  
    <div class="container-sm textInfo">
  
      <h3>Percussive Arts Society</h3>
  
      <div class="container-sm">
        <div class="row">
          <div class="col">
            <h1>PUM!</h1>
          </div>
          <div class="col">
            <h1>PAS!</h1>
          </div>
          <div class="col">
            <h1>TSS!</h1>
          </div>
        </div>
      </div>
      <br>
      <h4 class="STRONG">INSPIRATE, EDUCATE, and SUPORT</h4>
      <br>
      <p>
        This is the goal of the Percussive Arts Society.
        Inspire percussionists and drummers all over the world to share their love to music
        between themselves and the world.
      </p>
      <p>
        In this quest PAS searches to become global leader in percussion and drumming by providing unparalleled and 
        interactive resources and experiences in percussion education, performance, and research.
      </p>
        
      
  
      <a class="btn btn-primary btn-lg" href="https://www.pas.org/" role="button">About PAS</a>
      <br>
      <br>
      <div class="container-sm">
        <img src="./assets/img/logoPAS3.jpeg" width="500" height="333">
      </div>
  </div>
  </div>
  <br>
  <br>
  