<div class="container-lg">
    <!--CARROUSEL DE IMAGENES-->
    <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/img/LogoGrande.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img/Juego1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img/menu.jpeg" class="d-block w-100" alt="...">
          </div>
    
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    <!--FIN CARROUSEL-->
    
    <br>
  
    <div class="container-sm textInfo">
        <h3>About Drum Land</h3>
        <h1>History, Music, Drums!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ligula nibh. 
            Etiam porta accumsan nunc, mattis ultrices dui maximus sit amet. Integer nec urna diam. 
            Aenean quis tortor nisi. In aliquet urna a enim fringilla euismod. Duis eu orci efficitur, 
            sagittis urna et, mattis metus. Nam cursus justo libero.
        </p>
        <div class="container-sm">
          <img src="./assets/img/icono.svg" width="370" height="370">
        </div>
    </div>
  
    <br>
    <br>
  
    <div class="container-sm textInfo">
  
      <h3>Percussive Arts Society</h3>
  
      <div class="container-sm">
        <div class="row">
          <div class="col">
            <h1>PUM!</h1>
          </div>
          <div class="col">
            <h1>PAS!</h1>
          </div>
          <div class="col">
            <h1>TSS!</h1>
          </div>
        </div>
      </div>
  
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ligula nibh. 
          Etiam porta accumsan nunc, mattis ultrices dui maximus sit amet. Integer nec urna diam. 
          Aenean quis tortor nisi. In aliquet urna a enim fringilla euismod. Duis eu orci efficitur, 
          sagittis urna et, mattis metus. Nam cursus justo libero.
      </p>
  
      <a class="btn btn-primary btn-lg" href="https://www.pas.org/" role="button">About PAS</a>
      <br>
      <br>
      <div class="container-sm">
        <img src="./assets/img/logoPAS3.jpeg" width="500" height="333">
      </div>
  </div>
  </div>
  <br>
  <br>
  