<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card title">
                <div class="card-header title ">
                    <h3 class="ranking-title">TOP 3 PLAYERS GLOBAL</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<section class="ranking py-5 bg-light">
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">USERNAME</th>
                <th scope="col">PTS</th>
                <th scope="col">MAXLEVEL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>duckspeed</td>
                <td>200</td>
                <td>5</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>robJohonson</td>
                <td>195</td>
                <td>5</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larryfly</td>
                <td>150</td>
                <td>4</td>
              </tr>
            </tbody>
          </table>
    </div>
</section>